<div class="contents">
    <section class="united">
  
        <div class="parent">
  
            <div class="div1">
                <div class="title">
                    <h3>UNIDAD I</h3>
                </div>
                <div class="content">
                    <p>Direccionamiento IP y Enrutamiento.</p>
                </div>
                <div class="link">
                    <a routerLink="/unidad1">Detalles</a>
                </div>
            </div>
  
            <div class="div2">
                <div class="title">
                    <h3>UNIDAD II</h3>
                </div>
                <div class="content">
                    <p>Conmutación de redes LAN.</p>
                </div>
                <div class="link">
                    <a routerLink="/unidad2">Detalles</a>
                </div>
            </div>
  
            <div class="div3">
                <div class="title">
                    <h3>UNIDAD III</h3>
                </div>
                <div class="content">
                    <p>Tecnologías WAN.</p>
                </div>
                <div class="link">
                    <a routerLink="/unidad3">Detalles</a>
                </div>
            </div>
  
            
        </div>
    </section>
  </div>