* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  /* --------------------------HEADER---------------------------- */
  

  .contents {
    min-height: calc(100% - 50px);
  }
  .footer {
    margin-top: 25px;
    height: 50px;
    background-color: black;
    color: #ffffff;
  }
  
  .footer p {
    text-align: center;
    font-family: "Silkscreen", cursive;
  }
 