<header>
    <div class="menubar">
        <div class="menu">
            <img class="logo" src="../../assets/image/logo.png" width="100px">
            <p class="Titulo">PORTAFOLIO</p>
            <div class="content-home">
                <ul>
                    <li><a href="http://localhost:4200/home"><img class="home-img" src="../../assets/image/home.png" alt="">
                            <p class="home-text">HOME</p>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
