* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  /* --------------------------HEADER---------------------------- */
  .menubar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
  }
  
  .menubar .logo {
    padding: 10px;
    margin-left: 20px;
    margin-right: 5px;
  }
  
  .logo {
    width: 50px;
  }
  
  .home-img {
    float: left;
    width: 22px;
  }
  
  .home-text {
    margin-right: 50px;
    width: 105px;
  }
  
  .content-home{
  margin-right: 20px;
  }
  
  
  .Titulo {
    width: 90%;
    color: white;
    font-size: 20px;
    align-items: left;
    padding: 10px;
    margin-right: 34%;
    border-radius: 3px;
  }
  
  .menu {
    font-family: "Silkscreen", cursive;
    justify-content: left;
    display: flex;
    align-items: center;
  }
  
  ul {
    padding: 5px;
    margin-right: 20px;
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  li {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    width: 30%;
    padding: 5px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
  
  .content-home:hover {
    border-bottom: 3px solid #ffffff;
  }
  
  /* --------------------------FOOTER---------------------------- */
  
  .contents {
    min-height: calc(100% - 50px);
  }
  .footer {
    height: 50px;
    background-color: black;
    color: #ffffff;
  }
  
  .footer p {
    text-align: center;
    font-family: "Silkscreen", cursive;
  }
  /* --------------------------BODY---------------------------- */
  .united {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    font-family: "Silkscreen", cursive;
  }
  
  .link {
    text-align: center;
    margin-top: 40%;
    border-top: solid 1px #727272;
    height: 50px;
    line-height: 50px;
  }
  
  .content {
    margin-top: 40%;
    height: 15%;
    text-align: center;
  }
  
  h3 {
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background-color: #727272;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .link a {
    color: #000;
  }
  
  .link a:hover {
    color: #ffffff;
  }
  
  .parent {
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .div1 {
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 400px;
    grid-area: 1 / 1 / 2 / 2;
  }
  
  .div2 {
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 400px;
    grid-area: 1 / 2 / 2 / 3;
  }
  .div3 {
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 400px;
    grid-area: 1 / 3 / 2 / 4;
  }
  .div4 {
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    height: 400px;
  
    grid-area: 1 / 4 / 2 / 5;
  }
  
  .div1:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
  .div2:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
  .div3:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
  .div4:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  @media only screen and (max-width: 800px) {
    .div1,
    .div2,
    .div3,
    .div4 {
      margin-top: 50px;
    }
  
    .united {
      margin-top: 20px;
    }
  
    .footer {
      margin-top: 30px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .div1,
    .div2,
    .div3,
    .div4 {
      margin-top: 40px;
    }
  
    .united {
      margin-top: 50px;
    }
  
    .footer {
      margin-top: 40px;
    }
  
    .home-text {
      display: none;
    }
  }
  