* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

/* --------------------------HEADER---------------------------- */
.menubar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

.menubar .logo {
  padding: 10px;
  margin-left: 20px;
  margin-right: 5px;
}

.logo {
  width: 50px;
}

.home-img {
  float: left;
  width: 22px;
}

.home-text {
  margin-right: 50px;
  width: 105px;
}

.content-home{
margin-right: 20px;
}


.Titulo {
  width: 90%;
  color: white;
  font-size: 20px;
  align-items: left;
  padding: 10px;
  margin-right: 34%;
  border-radius: 3px;
}

.menu {
  font-family: "Silkscreen", cursive;
  justify-content: left;
  display: flex;
  align-items: center;
}

ul {
  padding: 5px;
  margin-right: 20px;
  width: 40%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

li {
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  width: 30%;
  padding: 5px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.content-home:hover {
  border-bottom: 3px solid #ffffff;
}

/* --------------------------FOOTER---------------------------- */


/* --------------------------BODY---------------------------- */
.united {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
  font-family: "Silkscreen", cursive;
}

.parent {
  margin-top: -3%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.div1 {
  margin-left: 30px;
  margin-right: 30px;
  width: 350px;
  height: 480px;
  grid-area: 1 / 2 / 2 / 3;
}
.div2 {
  margin-left: 30px;
  margin-right: 30px;
  width: 350px;
  height: 485px;
  grid-area: 1 / 1 / 2 / 2;
}
.div3 {
  margin-left: 30px;
  margin-right: 30px;
  width: 350px;
  height: 485px;
  grid-area: 1 / 3 / 2 / 4;
}

.name {
  margin-top: -5px;
  color: #ffffff;
  height: 30px;
  background-color: #323639;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.name:hover {
  background-color: #5d636a;
}

iframe {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .div1,
  .div2,
  .div3 {
    margin-top: 50px;
  }
  .contents {
    min-height: calc(100% - 50px);
  }
  .footer {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .div1,
  .div2,
  .div3 {
    margin-top: 80px;
  }

  .home-text {
    display: none;
  }
}

h2{
text-align: center;
font-family: "Silkscreen", cursive;
}
.tit{
margin-top: 80px;

}