<div class="tit"><h2>Tecnologías WAN.</h2></div>

    <div class="contents">
        <section class="united">
            <div class="parent">
                <div class="div1">
                    <iframe src="../../assets/docs/Reporte Ubuntu.pdf"frameborder="0" width="100%" height="100%"></iframe>
                    <div class="name">
                        <a href="../../assets/docs/Reporte Ubuntu.pdf">Instalación Ubuntu</a>
                    </div>
                </div>
                <div class="div2">
                    <iframe src="../../assets/docs/Reporte SSH.pdf"frameborder="0" width="100%" height="100%"></iframe>
                    <div class="name">
                        <a href="../../assets/docs/Reporte SSH.pdf">Servidor SHH</a>
                    </div>
                </div>
                <div class="div3">
                    <iframe src="../../assets/docs/Reporte NTP.pdf"frameborder="0" width="100%" height="100%"></iframe>
                    <div class="name">
                        <a href="../../assets/docs/Reporte NTP.pdf">Servidor NTP</a>
                    </div>
                </div>
                
            </div>
            
        </section>
        
    </div>

